@import "~antd/dist/antd.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;500&display=swap");

.vimeat-popup-error {
  .ant-modal-body {
    background-color: rgb(255 255 255);
    border: 1px solid rgb(255 0 0);

    .ant-modal-confirm-title {
      color: red;
      font-weight: bold;
    }
  }
}

.vimeat-popup-success {
  .ant-modal-body {
    background-color: rgb(255 255 255);
    border: 1px solid green;

    .ant-modal-confirm-title {
      color: mediumseagreen;
      font-weight: bold;
    }
  }
}

$notice_close_background: rgb(255 255 255 / 80%);
$notice_close_background_hover: rgb(255 255 255 / 45%);

.vimeat-notification-info {
  background: #457fca;
  background: -webkit-linear-gradient(to right, #5691c8, #457fca);
  background: linear-gradient(to right, #5691c8, #457fca);
  color: white;
  .ant-notification-notice-close {
    color: $notice_close_background;
    :hover {
      color: $notice_close_background_hover;
    }
  }
  .ant-notification-notice-message {
    color: white;
    font-weight: bold;
  }
}

.vimeat-notification-warning {
  background-color: #e0a018;
  color: white;
  .ant-notification-notice-close {
    color: $notice_close_background;
    :hover {
      color: $notice_close_background_hover;
    }
  }
  .ant-notification-notice-message {
    color: white;
    font-weight: bold;
  }
}

.vimeat-notification-error {
  background: #cb2d3e;
  background: -webkit-linear-gradient(to right, #ef473a, #cb2d3e);
  background: linear-gradient(to right, #ef473a, #cb2d3e);
  color: white;
  .ant-notification-notice-close {
    color: $notice_close_background;
    :hover {
      color: $notice_close_background_hover;
    }
  }
  .ant-notification-notice-message {
    color: white;
    font-weight: bold;
  }
}

.vimeat-notification-success {
  background-image: linear-gradient(
    to right,
    #239d48,
    #1a984b,
    #11934d,
    #088d4f,
    #008850
  );
  color: white;
  .ant-notification-notice-close {
    color: $notice_close_background;
    :hover {
      color: $notice_close_background_hover;
    }
  }
  .ant-notification-notice-message {
    color: white;
    font-weight: bold;
  }
}

.ant-select-multiple .ant-select-selection-item {
  background: #d2eeff;
}

#root,
.page,
.ant-spin-nested-loading,
.ant-spin-container {
  height: 100%;
}
