<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{ hapiSwagger.info.title }}</title>
    <link rel="stylesheet" type="text/css" href="{{ hapiSwagger.swaggerUIPath }}swagger-ui.css" />
    <link rel="icon" type="image/png" href="{{ hapiSwagger.swaggerUIPath }}favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="{{ hapiSwagger.swaggerUIPath }}favicon-16x16.png" sizes="16x16" />
    <style>
      html {
        box-sizing: border-box;
        overflow: -moz-scrollbars-vertical;
        overflow-y: scroll;
      }

      *,
      *:before,
      *:after {
        box-sizing: inherit;
      }

      body {
        margin: 0;
        background: #fafafa;
      }
    </style>
  </head>

  <body>
    <div id="swagger-ui"></div>
    <script src="{{ hapiSwagger.swaggerUIPath }}swagger-ui-bundle.js"></script>
    <script src="{{ hapiSwagger.swaggerUIPath }}swagger-ui-standalone-preset.js"></script>
    <script src="{{ hapiSwagger.swaggerUIPath }}extend.js" type="text/javascript"></script>
    <script>
      function getUrlVars() {
        var vars = [], hash;
        var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
        for (var i = 0; i < hashes.length; i++) {
          hash = hashes[i].split('=');
          vars.push(hash[0]);
          vars[hash[0]] = hash[1];
        }
        return vars;
      }

      window.onload = function() {

        var url = window.location.search.match(/url=([^&]+)/);
        if (url && url.length > 1) {
            url = decodeURIComponent(url[1]);
        } else {
            url = "{{{hapiSwagger.jsonPath}}}";
        }

        // pull validatorUrl string or null form server
        var validatorUrl = null;
        {{#if hapiSwagger.validatorUrl}}
        validatorUrl: '{{hapiSwagger.validatorUrl}}';
        {{/if}}

        var ACCESS_TOKEN_QUERY_PARAM_NAME = 'access_token';
        var accessToken = getUrlVars()[ACCESS_TOKEN_QUERY_PARAM_NAME];

        var swaggerOptions = {
          url: url + (accessToken ? (url.indexOf('?') < 0 ? '?' : '&') + ACCESS_TOKEN_QUERY_PARAM_NAME + '=' + accessToken : ''),
          validatorUrl: validatorUrl,
          dom_id: '#swagger-ui',
          deepLinking: true,
          presets: [SwaggerUIBundle.presets.apis, SwaggerUIStandalonePreset],
          plugins: [SwaggerUIBundle.plugins.DownloadUrl],
          layout: 'StandaloneLayout',
          docExpansion: "{{hapiSwagger.expanded}}",
          tagsSorter: apisSorter.{{hapiSwagger.sortTags}},
          operationsSorter: operationsSorter.{{hapiSwagger.sortEndpoints}},
          onComplete: function(){
              {{{ hapiSwagger.uiCompleteScript }}}
          }
        }

        var ui = SwaggerUIBundle(swaggerOptions);

        window.ui = ui;
      };
    </script>
  </body>
</html>
