* {
  font-family: "Roboto Mono", monospace;
}

.logo {
  height: 32px;
  margin: 16px;
  font-size: 24px;
  color: white;
  font-weight: bold;
  text-align: center;
}

.site-layout__sub-header-background {
  background: #fff;
  text-align: right;
}

.site-layout-background {
  background: #fff;
}
[data-theme="dark"] .site-layout-sub-header-background {
  background: #141414;
}

.cover-margin {
  margin: 24px 16px 0;
}

@media (min-width: 1024px) {
  .layout__sider {
    overflow: auto;
    height: 100vh;
    position: fixed;
    left: 0;
    z-index: 2;
  }

  .layout__main {
    margin-left: 200px;
  }

  .site-layout__footer {
    position: fixed;
    bottom: 0;
    left: 200px;
    width: 100%;
  }

  .cover-margin {
    margin: 84px 16px 0;
  }

  .site-layout__sub-header-background {
    position: fixed;
    width: 100%;
    z-index: 1;
    margin-left: -200px;
  }
}

@media (max-width: 768px) {
  .site-layout__footer {
    display:none;
  }
}