.login-panel {
  height: 100%;
  width: 100%;

  .login-panel__title {
    text-align: center;
    padding-bottom: 15px;
  }

  .login-panel__wrapper {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 600px;
    background-color: white;
    padding: 60px 45px;
  }
}

@media (max-height: 736px) {
  .login-panel {
    .login-panel__title {
      font-size: 24px;
    }
    .login-panel__wrapper {
      top: 100px;
      max-width: 350px;
    }
  }
}
