@media (max-height: 812px) {
    .my-tag {
      white-space: normal;
    }
  
    .my-space{
      flex-direction: column;
  
      .ant-space-item{
        margin-right: 0 !important;
      }
    }
  }
  