.login {
  max-height: 100vh;
  overflow: hidden;
  width: 100%;

  .login__content {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    max-height: 100%;
    background-image: linear-gradient(to right bottom, #007cc7, #0a6fad, #146195, #1a547c, #1e4765, #1e4059, #1d384d, #1c3141, #192d3c, #172a37, #142633, #12232e);
  }

  .login__footer {
    background: #ffffff38;
    bottom: 0;
    color: #eef0f2;
    text-align: center;
    left: 0;
    position: fixed;
    width: 100%;
  }
}
